#margin-left {
    background-color: rgb(255, 0, 0, .6);
    grid-row: 1/7;
    grid-column: 1/2;
}

#margin-right {
    background-color: rgb(255, 0, 0, .4);
    grid-row: 1/7;
    grid-column: -2/-1;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 175px)) minmax(0px, 1fr);
}

header {
    background-color: rgb(100, 100, 100, .4);
    grid-row: 1/2;
    grid-column: 1/-1;
    height: 90px;
    display: flex;
    box-shadow: 0px 2px 10px 2px #444444;
    z-index:2
}

#home-image {
    grid-row: 2/3;
    grid-column: 1/-1;
    height: 380px;
    background:url(imagesformile/index-background.png) no-repeat;
    background-size: 1600px 380px;
    z-index:1;
    border-bottom:1px solid black
}

#empty {
    grid-row: 3/4;
    grid-column: 1/-1;
    height: 70px
}

#first-article {
    
    grid-row: 4/5;
    grid-column: 1/-1;
    height: 600px;
    display:grid;
    grid-template-columns: 1fr 525px 525px 1fr;
    grid-template-rows: 50px 1fr 50px 1fr;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#subs {
    background-color: rgb(0, 128, 0, .4);
    grid-row: 5/6;
    grid-column: 1/-1;
    height: 400px
}

footer {
    background-color: rgb(255, 168, 0, .4);
    grid-row: 6/7;
    grid-column: 1/-1;
    height: 90px
}

header h1 {
    font-size: 45px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    width: 90px;
    height: 80px;
    padding-left: 20px;
    padding-top: 5px;
}

.flex-items {
    display: flex;
}

#menubutton {
    background: url(imagesformile/menuicon.png) no-repeat;
    background-size: contain;
    width: 70px;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-left: 400px;
    margin-top: 15px
}

#downloadbutton {
    background: url(imagesformile/downloadbutton.png) no-repeat;
    background-size: contain;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-left: 400px;
    margin-top: 17px
}
#first-features{
    grid-column:2/3;
    grid-row:1/2;
    text-align:center;
}
#first-para{
    grid-column:3/4;
    grid-row:2/3;
    padding-left:20px;
    padding-right:20px;
}
#first-image{
    grid-column:2/3;
    grid-row:2/3;
}
#second-features{
    grid-column:3/4;
    grid-row:3/4;
    text-align:center
}
#second-para{
    grid-column:2/3;
    grid-row:4/5;
    padding-left:20px;
    padding-right:20px;
}
#second-image{
    grid-column:3/4;
    grid-row:4/5;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid black;
}
body{
    margin:0px;
}
