#margin-left
    {background-color:rgb(255,0,0,.6);
     grid-row:1/7;
     grid-column:1/2;
     }
#margin-right
    {background-color:rgb(255,0,0,.4);
     grid-row:1/7;
     grid-column:-2/-1;
     }
#wrapper
    {display:grid;
     grid-template-columns:minmax(0px, 1fr) repeat(6, minmax(0px,175px)) minmax(0px, 1fr);}
header
    {background-color:rgb(255,255,0,.4);
     grid-row:1/2;
     grid-column:1/-1;
     height: 90px;
     display:flex;}
section
    {background-color:rgb(0,0,225,.4);
     grid-row:2/3;
     grid-column:1/-1;
     height:380px}
#empty
    {background-color:rgb(255,0,0,.4);
     grid-row:3/4;
     grid-column:1/-1;
     height:70px}
article
    {background-color:rgb(128,0,128,.4);
     grid-row:4/5;
     grid-column:1/-1;
     height:580px}
#subs
    {background-color:rgb(0,128,0,.4);
     grid-row:5/6;
     grid-column:1/-1;
     height:400px}
footer
    {background-color:rgb(255,168,0,.4);
     grid-row:6/7;
     grid-column:1/-1;
     height:90px}

header h1{
    font-size:45px;
    padding-left:20px;
    margin-top:15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
    width: 90px;
    height: 80px;
    padding-left:20px;
    padding-top:5px;
}
.flex-header-items{
    display:flex;
}
#menubutton{
    background:url(imagesformile/menuicon.png) no-repeat;
    background-size:contain;
    width:70px;
    height:60px;
    border:none;
    cursor:pointer;
    margin-left:400px;
    margin-top:15px
}
#downloadbutton{
    background:url(imagesformile/downloadbutton.png) no-repeat;
    background-size:contain;
    width:200px;
    height:50px;
    border:none;
    cursor:pointer;
    margin-left:400px;
    margin-top:17px
}