#margin-left {
    grid-row: 1/7;
    grid-column: 1/2;
}

#margin-right {
    grid-row: 1/7;
    grid-column: -2/-1;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 175px)) minmax(0px, 1fr);
}

header {
    background-color:rgb(215, 215, 215);
    grid-row: 1/2;
    grid-column: 1/-1;
    height: 90px;
    display: flex;
    box-shadow: 0px 2px 10px 2px #444444;
    z-index:2;
    align-items:center;
    justify-content:space-between;
}

#home-image {
    grid-row: 2/3;
    grid-column: 1/-1;
    height: 380px;
    background:url(imagesformile/index-background.png) no-repeat;
    background-size: cover;
    z-index:1;
    border-bottom:1px solid black
}

#empty {
    grid-row: 3/4;
    grid-column: 1/-1;
    height: 70px
}

#first-article {
    grid-row: 4/5;
    grid-column: 1/-1;
    height: 600px;
    display:grid;
    grid-template-columns: 1fr 525px 525px 1fr;
    grid-template-rows: 50px 1fr 50px 1fr;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#subs {
    grid-row: 5/6;
    grid-column: 2/-2;
    height: 400px;
    display:flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items:center;
    flex-direction:column;
}

footer {
    background-color:rgb(215, 215, 215);
    grid-row: 6/7;
    grid-column: 1/-1;
    height: 90px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

header h1 {
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:15px
}

.logo {
    width: 90px;
    height: 80px;
    padding-top:17px;
    padding-left:15px
}
.logotitle{
    display:flex;
}
#menubutton {
    background: url(imagesformile/menuicon.png) no-repeat;
    background-size: contain;
    width: 70px;
    height: 60px;
    border: none;
    cursor: pointer;
    margin-right:15px;
}

#downloadbutton {
    background: url(imagesformile/downloadbutton.png) no-repeat;
    background-size: contain;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
}
#first-features{
    grid-column:2/3;
    grid-row:1/2;
    text-align:center;
}
#first-para{
    grid-column:3/4;
    grid-row:2/3;
    padding-left:20px;
    padding-right:20px;
}
#first-image{
    grid-column:2/3;
    grid-row:2/3;
}
#second-features{
    grid-column:3/4;
    grid-row:3/4;
    text-align:center
}
#second-para{
    grid-column:2/3;
    grid-row:4/5;
    padding-left:20px;
    padding-right:20px;
}
#second-image{
    grid-column:3/4;
    grid-row:4/5;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid black;
}
body{
    margin:0px;
}
#subs h2{
    font-size:30px
}
.subscription-boxes{
    background-color:rgb(215, 215, 215);
    border-radius: 20px;
    border:5px solid #008854;
}
.subscriptions{
    display:flex;
    align-items:center;
    justify-content: space-between;
    text-align:center;
    font-weight:bold;
    width:100%;
    font-size:20px;
}
.smaller-text{
    font-size:10px
}
#first-sub-box, #second-sub-box{
    padding-top:55px;
    padding-bottom:55px
}
#first-sub-box{
    padding-left:26.5px;
    padding-right:26.5px
}
#second-sub-box{
    padding-left:20px;
    padding-right:20px
}
#third-sub-box{
    padding-left:36px;
    padding-right:36px
}
#blue-box{
    background-color:#0B77D6;
    border-radius:20px;
    color:white
}
.cost-amounts{
    font-size:25px;
    background-color:#ffa700;
    border-radius:20px;
    font-weight:bold;
    border:none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left:30px;
    padding-right:30px;
    cursor:pointer;
}
#yearly-cost{
    margin-bottom:8px
}
footer button{
    height:60px;
    width:60px;
    border:none;
    cursor: pointer;
}
#insta{
    background:url(imagesformile/insta-logo.png) no-repeat;
    background-size:cover;;
}
#facebook{
    background:url(imagesformile/facebook-logo.png) no-repeat;
    background-size:cover;
    padding-left:10px;
}
#twitter{
    background:url(imagesformile/x-logo.png) no-repeat;
    background-size:cover;
    padding-left:10px;
}
#socials{
    margin-left:15px;
}
footer p{
    margin-right:15px;
}