#margin-left {
    grid-row: 1/7;
    grid-column: 1/2;
}

#margin-right {
    grid-row: 1/7;
    grid-column: -2/-1;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 175px)) minmax(0px, 1fr);
    background-color:whitesmoke
}
header{
    background-color:#2f5f40;
    grid-row: 1/2;
    grid-column: 1/-1;
    height:120px
}

#index-header {
    height: 100vh;
}
#empty {
    grid-row: 2/3;
    grid-column: 1/-1;
    height: 70px
}

#first-article {
    grid-row: 3/5;
    grid-column: 2/-2;
    height: auto;
    font-family:"Lato", sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    z-index:2;
    margin-bottom:80px;
}

#subs {
    grid-row: 4/5;
    grid-column: 1/-1;
    height: auto;
    background-color:#2f5f40;
    padding-top:150px
}

footer {
    background-color:#2f5f40;
    grid-row: 5/6;
    grid-column: 1/-1;
    height: 90px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

header img {
    height:80%;
    margin-left:55px;
    margin-top:10px
}
nav{
    display:flex;
    justify-content:space-between;
    width:100%;
    height:120px

}
nav ul{
    display:flex;
    flex-flow: nowrap;
    flex-flow: row;
    list-style-type: none;
    margin-top:40px;
    margin-right:17px
}
#header-items{
    display:flex;
    justify-content:space-between;
}
#download-app{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    flex-direction:column;
}
#header-items p{
    font-size:2vw;
    color:white;
    font-family:"Lato", sans-serif;
    margin-top:240px;
}
#download-apple{
    background:url(imagesformile/white-app-store-download.png), no-repeat;
    background-size:cover;
    height:60px;
    width:180px;
    border:none;
    margin-right:15px;
    cursor: pointer;
    display: inline-block;

}
#download-google{
    background:url(imagesformile/google-play-button.png), no-repeat;
    background-size:cover;
    height:61px;
    width:210px;
    border:none; 
    cursor: pointer;
    display: inline-block;
}
#download-apple:hover, #download-google:hover{
    background-color:#2e5e39
}
#download-items{
    margin-top:5px
}
#first-line-name{
    font-size:20vh;
    color:white;
    font-family:"Lato", sans-serif;
    margin-top:0px;
    margin-bottom:0px;
    height:20vh;
}
#second-line-name{
    font-size:23vh;
    background-image: linear-gradient(to right, #ddc78b, #bb8d07);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:transparent;
    font-family:"Lato", sans-serif;
    margin-top:0px;
    margin-bottom:0px;
    height:23vh;
}
#name{
    display:block;
    float:right;
    margin-right:5vw
}
#name h4{
    display:flex;
    justify-content:center;
    font-size:5vh;
    margin-top:0%;
    margin-bottom:0%;
    color:white;
    font-family:"lato", sans-serif;
    font-weight:500;
}
#title-desc{
    margin-top:3vh;
}
nav ul li{
    font-size:3vh;
    padding-left:4vw;
    color:white;
    font-family:"Lato", sans-serif;
}
#header-button{
    height:35px;
    margin-right:4vw;
    margin-top:30px;
    width: 120px;
    margin-left:4vw;
    border-radius:15px;
    background-color:white;
    border:3px solid white;
    color:#c7b37d;
    font-family:"lato", sans-serif;
    font-weight:bold;
    font-size:20px;
    cursor: pointer;
    transition:transform .3s;
    display: inline-block;
    text-align:center;
    justify-content: center;
    padding-top:12px
}
#header-button:hover{
    background-color:#EEEEEE;
    border:3px solid #eeeeee;
    color:#c7b37d;
    transform:scale(.95)
    
}
nav div{
    display:flex;
}
nav a{
    text-decoration:none;
    color:white
}
body{
    margin:0px;
}
.index-rows{
    display:flex;
    width:100%;
    justify-content:space-between;
}
.index-rows img{
    height: 400px;
}
.index-rows div{
    display:flex;
    flex-direction:column;
    width:auto;
    margin-right:50px;
    margin-left:50px;
    width:450px
}
.align-right{
    display:flex;
    align-items:flex-end;
}
.align-right a, .align-left a{
    width:fit-content;
    margin-top:5px;
    width:150px;
    height:40px;
    border-radius:30px;
    background-color:#ddc78b;
    border:none;
    font-size:20px;
    color:white;
    font-weight:bold;
    cursor: pointer;
    transition:transform .3s;
    display:inline-block;
    text-decoration:none;
    text-align:center;
    padding-top:10px
}
.align-right a:hover, .align-left a:hover{
    transform:scale(.95);
}
.index-rows h2{
    font-size:35px;
    margin-bottom:0%;
}
.index-rows p{
    font-size:20px;
    color:rgb(59, 59, 59);
}
.align-right p{
    text-align:right;
}
#blacklogo{
    margin-right:20px;
}
footer a{
    height:60px;
    width:60px;
    border:none;
    cursor: pointer;
    text-decoration:none
}
#insta{
    background:url(imagesformile/insta-logo.png) no-repeat;
    background-size:cover;
    font-size:0px; 
}
#facebook{
    background:url(imagesformile/facebook-logo.png) no-repeat;
    background-size:cover;
    font-size:0px; 
}
#twitter{
    background:url(imagesformile/x-logo.png) no-repeat;
    background-size:cover;
    font-size:0px; 
}
.socials{
    margin-left:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:200px;
}
footer p{
    margin-right:15px;
    font-family:"Lato", sans-serif;
    color: white;
}


/*membership page css*/


.member-table{
    grid-column:2/-2;
    grid-row:3/4;
    font-size:30px;
    font-family:"Lato", sans-serif;
}
.member-table table{
    border:1px solid #424242;
    width:100%;
    border-collapse: collapse;
    margin-bottom:100px
}
td, th {
    padding: 15px;
    border: 1px solid #424242;
}
.crossed-out{
    text-align:center
}
.member-table h1{
    text-align:center
}
#table-free{
    background-color:aliceblue
}
#table-gold{
    background-color:#bb8d07
}
#table-plat{
    background-color:silver
}
#table-tour{
    background-color:lightcoral
}
table tr:nth-of-type(odd) {
    background: #eeeeee
}


/*login page css*/


.login-form{
    display:flex;
    justify-content:center;
    align-items:center;
    grid-row:2/3;
    grid-column:1/-1;
    font-family:"Lato", sans-serif;
    height:85vh;
    background:url(imagesformile/golf-stubble.jpg)
}
.form{
    width:650px;
    background-color:rgb(201, 201, 201);
    padding-right:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    height:400px;
    border-radius:15px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}
.form h1{
    text-align:center;
    font-size:40px;
    margin-left:15px;
    margin-bottom:40px;
    color:#2e5e39
}
.input-box{
    position:relative;
    width:400px;
    height:50px;
    margin-bottom:20px;
}
.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid rgb(0,0,0);
    border-radius: 40px;
    font-size:16px;
    color:black;
    padding-left:15px;
    background-color:rgb(216, 215, 215)
}
.input-box input::placeholder{
    color:black
}
.input-box i{
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size: 20px;
}
.btn{
    width:140px;
    height:35px;
    margin-top:10px;
    border:3px solid #2e5e39;
    background-color:#ddc78b;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
    text-decoration: none;
    color:white;
    padding:4px;
    text-align:center;
}
.btn:hover{
    background-color:#c7b37d
}


/* courses page css */


#courses-main{
    grid-column:2/-2;
    grid-row:3/4;
    font-family: "Lato", sans-serif;

}
#courses-main h1{
    text-align:center;
    font-size:40px
}
#courses-main img{
    width:980px;
    border: 4px solid;
    border-radius:5px
}
#courses-main div{
    display:flex;
    flex-direction:column;
    margin-bottom:60px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}
#courses-main div img, #courses-main div button, #courses-main div p{
    align-self:center;
}
#courses-main div img{
    margin-top:20px;
    margin-bottom:20px;
}
#courses-main div:nth-of-type(odd) {
    background: #eeeeee
}
#courses-main div a{
    font-size:17px;
    background-color:#ddc78b;
    border:none;
    cursor:pointer;
    height:28px;
    border-radius: 5px;
    text-decoration:none;
    color:white;
    width:fit-content;
    padding-left:4px;
    padding-right: 4px;
    padding-top:3px;
}


/* shop page css */


#shopping{
    grid-row:3/4;
    grid-column:2/-2;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-family:"Lato", sans-serif;
    background:white

}
#shopping img{
    width:500px
}
#shopping div{
    width:550px;
    margin-bottom:100px;
    margin-top:10px
}
#shopping button{
    font-size:17px;
    background-color:#ddc78b;
    border:none;
    cursor:pointer;
    height:28px;
    border-radius: 5px;
}


/* about css */


#about-content{
    grid-row:3/4;
    grid-column:2/-2;
    display:grid;
    grid-template-columns:1fr 1fr;
    font-family:"Lato", sans-serif;
    text-align:center
}
#about-content h2{
    font-size:50px
}
#about-content div{
    margin-right:20px;
    margin-left:20px;
    margin-bottom:50px;
}
#about-cotent p{
    font-size:10px
}
@media only screen and (max-width: 1290px){
    #header-items{
        flex-direction:column-reverse;
        align-items:center;
    }
    #header-items p{
        margin-top:20px
    }
    #name{
        margin-right:0px;
        display:flex;
        align-items:center;
        flex-direction:column;
    }
}
@media only screen and (max-width: 1050px){
    #courses-main img{
        width:100%
    }
}
@media only screen and (max-width: 980px){
    #subs{
        background-color:white;
    }
}
@media only screen and (max-width: 960px){
    nav ul{
        display:none;
    
    }
}
@media only screen and (max-width: 880px){
    .index-rows{
        flex-direction:column;
        align-items:center
    }
    .index-rows img{
        display:none;

    }
}
@media only screen and (max-width: 860px){
    #first-line-name{
        font-size:150px;
        height:150px;
    }
    #second-line-name{
        font-size:150px;
        height:150px;
    }
}
@media only screen and (max-width: 750px){
    table{
        font-size:20px
    }
}
@media only screen and (max-width: 710px){
    #first-line-name{
        font-size:120px;
        height:120px;
    }
    #second-line-name{
        font-size:120px;
        height:120px;
    }
        .form{
        width:auto
    }
    .btn{
        margin-left:155px
    }
}
@media only screen and (max-width: 590px){
    #shopping img{
        width:300px
    }
    #shopping div{
        width:auto;
        height:auto
    }
    #shopping p{
        width:200px
    }
}
@media only screen and (max-width: 570px){
    #first-line-name{
        font-size:100px;
        height:100px;
    }
    #second-line-name{
        font-size:100px;
        height:100px;
    }
    #download-app p{
        display:none
    }
    #download-app{
        margin-top:100px
    }
    #about-content{
        grid-template-columns:1fr
    }
}
@media only screen and (max-width:550px) {
    #insta, #facebook, #twitter{
        background-image: none;
        height:auto;
        width:81px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border:2px solid #444444;
        border-radius:10px;
        font-weight: bold;
        font-size:12px;
        text-align:center
    }
    #insta, #facebook{
        margin-bottom:3px
    }
    #insta{
        background-image:linear-gradient(50deg, #f58529, #feda77, #dd2a7b, #8134af, #515bd4);
        color:black
    }
    #facebook{
        background-color:#4267b3;
        color:white
    }
    #twitter{
        background-color:black;
        color:white;

    }
    .socials{
        flex-direction:column;
        width:auto;
    }
    footer{
        height:100px
    }
    .logo{
        display:none
    }
}
@media only screen and (max-width:500px){
    header h1{
        font-size: 40px;
    }
    footer p{
        font-size:10px;
    }
    #empty{
        height:30px;
    }
    table{
        font-size:10px
    }
}