body {
    background-color: #FFFFFF;
    background-image: linear-gradient(#eeeeee, #ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: arial;
    margin: 0px;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: "georgia";
    grid-row: 1/2;
    grid-column: 2/-2;
}

header h1 {
    line-height: 140%;
    padding: 0.5rem;
    background: url(images/utahtechlogo.svg) no-repeat;
    background-position: right;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
}

nav {
    font-weight: bold;
    background-color: #424242;
    grid-row: 2/3;
    grid-column: 2/-2;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #BA1C21;
    transition: .5s linear;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: nowrap;
    flex-flow: row;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

h2 {
    color: #424242;
    font-family: Georgia
}

dt {
    color: #003058;
    font-weight: bold
}

.ut {
    color: #ba1c21;
    font-weight: bold
}

footer {
    font-size: .70rem;
    text-align: center;
    font-style: italic;
    padding: 1rem;
    grid-row: 5/6;
    grid-column: 2/-2;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 175px)) minmax(0px, 1fr)
}

h3 {
    color: #003058;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-row: 4/5;
    grid-column: 2/-2;
    background-color: #ffffff;
}

#homehero {
    height: 300px;
    background: url(images/homehero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: 3/4;
    grid-column: 1/9;
}

#studenthero {
    height: 300px;
    background: url(images/studenthero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: 3/4;
    grid-column: 1/9;
}

#facultyhero {
    height: 300px;
    background: url(images/facultyhero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: 3/4;
    grid-column: 1/9;
}

#alumnihero {
    height: 300px;
    background: url(images/alumnihero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: 3/4;
    grid-column: 1/9;
}

* {
    box-sizing: border-box;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

main img {
    float: right;
    padding-left: 2rem;
}

#bluebar {
    background-color: #003058;
    grid-row: 1/2;
    grid-column: 1/9
}

#greybar {
    background-color: #424242;
    grid-row: 2/3;
    grid-column: 1/9
}

form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(0, 200px) minmax(0, 1fr);
    gap: .75rem;
    width: 100%;
}

input,
textarea {
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #FAFAFA;
    border: none
}

input:focus,
textarea:focus {
    outline: none;
    background-color: #f0f0f0;
}

label {
    padding: 10px;
    text-align: right;
}

#mySubmit {
    width: 10rem;
    grid-column: 2/3;
}
table {
    margin:0 auto;
    border:1px solid #424242;
    width:100%;
    border-collapse: collapse;
}
td, th {
    padding: 5px;
    border: 1px solid #424242;
}
td {
    text-align:center;
}
.text {
    text-align: left;
}
table tr:nth-of-type(odd) {
    background: #f3f3f3
}
video{
    float:right;
    margin-left:2em;
}
@media only screen and (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 150px)) minmax(0px, 1fr)
    }
}

@media only screen and (max-width: 900px) {
    nav {
        grid-row: 2/3;
        grid-column: 1/5;
        position: static
    }

    nav ul {
        flex-flow: column nowrap;
    }

    #homehero {
        grid-row: 2/3;
        grid-column: 5/8;
        height: auto;
    }

    #studenthero {
        grid-row: 2/3;
        grid-column: 5/8;
        height: auto;
    }

    #facultyhero {
        grid-row: 2/3;
        grid-column: 5/8;
        height: auto;
    }

    #alumnihero {
        grid-row: 2/3;
        grid-column: 5/8;
        height: auto;
    }

    main img {
        float: none;
        height: auto;
        width: 100%;
        padding-left: 0px
    }

    video {
        float:none;
        margin:0;
        width:100%;
        height:auto;
    }
}

@media only screen and (max-width: 600px) {
    header h1 {
        background-image: none;
        text-align: center
    }

    nav {
        grid-row: 2/3;
        grid-column: 1/9;
    }

    #homehero {
        display: none
    }

    #studenthero {
        display: none
    }

    #facultyhero {
        display: none
    }

    #alumnihero {
        display: none
    }

    video {
        float:none;
        margin:0;
        width:100%;
        height:auto;
    }
}